@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

html,
body {
 max-width: 100vw;
 overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
 color: inherit;
 text-decoration: none;
}

@media (prefers-color-scheme: dark) {
 html {
  color-scheme: dark;
 }
}

*::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
 background-color: rgba(0, 0, 0, 0.3);
 border-radius: 2px;
}

.MuiTooltip-tooltip {
 font-size: 0.8rem !important;
}

.mui-vcku06-MuiModal-root-MuiDialog-root {
 max-height: 100vh;
}
